.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Article {
  text-align: left;
}

.Articles-list {
  max-width: 1000px;
  padding: 50px;
}

.Article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  vertical-align: baseline;
}

.Article-title {
  min-width: 300px;
}

.Article-byline {
}

.Article-content {
}
